services:
  front:
    image: ghcr.io/pirategame/next-pirate-game:main
    ports:
      - 3050:3050
    environment:
      DATABASE_USER: example
      DATABASE_PASSWORD: example
      DATABASE_HOST: "mysql:3306"
      SOCKET_URL: back:1234
      PASSWORD: secret
      DATABASE_URL: mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}/pg
      PORT: 3050
  back:
    image: ghcr.io/pirategame/game-pod:main
    ports:
      - 1234:1234
    environment:
      PORT: 1234
      JSON_SECRET: secret
      DATABASE_USER: example
      DATABASE_PASSWORD: example
      DATABASE_HOST: "mysql:3306"
      DATABASE_URL: mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}/pg

  mysql:
    image: mysql:8.0
    volumes:
      - sql:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: pg

volumes:
  sql:
